﻿@model BusinessLayer.Article

<table>
    <tr><td>Id: </td><td>@Html.DisplayFor(e => e.Id)</td></tr>
    <tr><td>Name: </td><td>@Html.DisplayFor(e => e.Name)</td></tr>
    <tr><td>Description: </td><td>@Html.DisplayFor(e => e.Description)</td></tr>
    <tr><td>Net Price: </td><td>$@Html.DisplayFor(e => e.NetPrice)</td></tr>
    <tr><td>Vat Rate: </td><td>@Html.DisplayFor(e => e.VatRate)%</td></tr>
    <tr><td>Vat Value: </td><td>$@Html.DisplayFor(e => e.VatValue)</td></tr>
    <tr><td>Gross Price: </td><td>$@Html.DisplayFor(e => e.GrossPrice)</td></tr>
</table>