﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Krzysztof Kluz<br />
    <abbr title="Phone">Mob:</abbr>
    +48 793 772 075 <br/>
    <a href="https://www.linkedin.com/in/krzysztofkluz" target="_blank">linked.in</a>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:krzysztof.kluz@gmail.com">krzysztof.kluz@gmail.com</a>
</address>