﻿@{
    ViewBag.Title = "TryCatch WebShop";
    
    }

    <div style="float:left" class="jumbotron" >
        <table id="items" hidden="hidden">
            <thead><tr><td>Name</td><td>Net price</td><td></td></tr></thead>
            <tfoot><tr><td><a id="aPrev" href="javascript:void(0)">&lt;&lt; Prev</a></td><td></td><td><a id="aNext" href="javascript:void(0)">Next &gt;&gt;</a></td></tr></tfoot>
        </table>
    </div>
    <div id="artContainer" style="float:left" hidden="hidden">
        <h1 id="artName"></h1>
        <p id="artDesc"></p>
        <p id="artNetPrice"></p>
        <p><a id="btnAddToCart" href="javascript:void(0)" class="btn btn-primary btn-large">Add to cart &raquo;</a></p>
    </div>
    <div style="clear:both" ></div>


    <script type="text/javascript">
        var page = 0;

        //generate content for a list of articles on a page
        function getArticles(page) {
            $("#items").fadeOut(500, function(){
            var strMethodUrl = '@Url.Action("GetArticles", "Home", new { page = "XXX" })'
            //inject js page number into serverside created link
            strMethodUrl = strMethodUrl.replace('XXX', page);
            //get list of articles for a current page
            $.getJSON(strMethodUrl, function (data) {
                $("#items").find("tbody").remove();
                var items = [];
                //generate content of table
                $.each(data, function (key, val) {
                    items.push("<tr><td>" + val.Name + "</td><td>$" + val.NetPrice + "</td><td>" + "<a href='javascript:void(0)' onclick='showDetails(" + val.Id + ")'>more &raquo;</a>" + "</td></tr>");

                });
                $("<tbody/>", {
                    html: items
                }).appendTo("#items");

                //show/hide next and prev links 
                if (page == 0) {
                    $("#aPrev").hide();
                }
                else{
                    $("#aPrev").show();
                }
                //check if next link should be presented on the page
                if ( @ViewBag.ArticlesAmount - @ViewBag.PageSize * page > @ViewBag.PageSize)
                {
                    $("#aNext").show();
                }
                else {$("#aNext").hide();}

                //calculate onclick events (page numbers) for next and prev links
                var pageNext = page+1;
                var pagePrev = page-1;
                $("#aPrev").attr("onclick", "getArticles("+pagePrev+")");
                $("#aNext").attr("onclick", "getArticles("+pageNext+")");
        });
        });
        $("#items").fadeIn(500);
        }

        //present selected article details
        function showDetails(id) {
                $("#artContainer").fadeOut(500, function(){
            
                var strMethodUrl = '@Url.Action("GetArticle", "Home",new { id = "XXX"})'
                //inject js page number into serverside created link
                strMethodUrl = strMethodUrl.replace('XXX', id);
                $.getJSON(strMethodUrl, function (data) {
                    $("#artName").text(data.Name);
                    $("#artDesc").text(data.Description);
                    $("#artNetPrice").text("$"+data.NetPrice);
                    $("#btnAddToCart").attr("onclick","addToCart("+id+")");
                })
                $("#artContainer").fadeIn(1000);
            });
        }
        //send request to add a given article to the shopping cart
        function addToCart(id) {
                var strMethodUrl = '@Url.Action("PutToCart", "Home",new { id = "XXX"})'
                strMethodUrl = strMethodUrl.replace('XXX', id);
                $.getJSON(strMethodUrl, function (data) {
                    $("#cartCounter").text(data);
                
                $("#artContainer").fadeOut(1000);
            });
        }
        
        getArticles(page);
    </script>
