﻿body {
   
}

 #tblAllArticles{border:1px solid black;

 }
 #tblAllArticles thead{
     font-style:oblique;
     border-left:none;
     border-right:none;
     border-bottom:1px solid black;
 }

 #tblAllArticles td{border:1px solid black;border-top:none;border-bottom:none;text-align:right;
 }

 #tblAllArticles thead td{border-left:none;border-right:none;text-align:center;
 }
  #tblAllArticles tfoot td{border-top:1px solid black;
 }

#shopLeft{
    float:left;
    margin-right:120px;
}

#shopRight {
        float:left;
}

#artContainer{
    padding-left:20px;
    width:50%;
}

#artDetails{
    padding:10px;
    background-color:AppWorkspace;
    color:WindowText;
    width:75%;
}