﻿@model WebShopMVC.Models.ShoppingCartModel
@{
    
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";

    
}

<h2>ShoppingCart</h2>

<div id="shopLeft" class="jumbotron">
    <table id="tblAllArticles">
        <thead>
            <tr>
                <td>Name</td>
                <td>Price excl Vat</td>
                <td>Vat</td>
                <td>Price incl Vat</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Basket.GetArticles())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => i.Name)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => i.NetPrice)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => i.VatValue)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => i.GrossPrice)
                    </td>

                </tr>
            }

        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>$@ViewBag.TotalShoppingCartValueExclVat.ToString("0.00")</td>
                <td>$@ViewBag.TotalShoppingCartVatValue.ToString("0.00")</td>
                <td>$@ViewBag.TotalShoppingCartValueInclVat.ToString("0.00")</td>
            </tr>
        </tfoot>
    </table>

</div>
@using (Html.BeginForm("Save", "ShoppingCart"))
{
    <div id="shopRight" >
        <table class="table-condensed">
            <tr><td>@Html.LabelFor(m => m.Title)</td><td>@Html.TextBoxFor(m => m.Title) @Html.ValidationMessageFor(m => m.Title)</td></tr>
            <tr><td>@Html.LabelFor(m => m.FirstName)</td><td>@Html.TextBoxFor(m => m.FirstName) @Html.ValidationMessageFor(m => m.FirstName)</td></tr>
            <tr><td>@Html.LabelFor(m => m.LastName)</td><td>@Html.TextBoxFor(m => m.LastName) @Html.ValidationMessageFor(m => m.LastName)</td></tr>
            <tr><td>@Html.LabelFor(m => m.Address)</td><td>@Html.TextBoxFor(m => m.Address) @Html.ValidationMessageFor(m => m.Address)</td></tr>
            <tr><td>@Html.LabelFor(m => m.HouseNumber)</td><td>@Html.TextBoxFor(m => m.HouseNumber) @Html.ValidationMessageFor(m => m.HouseNumber)</td></tr>
            <tr><td>@Html.LabelFor(m => m.ZipCode)</td><td>@Html.TextBoxFor(m => m.ZipCode) @Html.ValidationMessageFor(m => m.ZipCode)</td></tr>
            <tr><td>@Html.LabelFor(m => m.City)</td><td>@Html.TextBoxFor(m => m.City) @Html.ValidationMessageFor(m => m.City)</td></tr>
            <tr><td>@Html.LabelFor(m => m.EmailAddress)</td><td>@Html.TextBoxFor(m => m.EmailAddress) @Html.ValidationMessageFor(m => m.EmailAddress)</td> </tr>
        </table>
        <input type="submit" name="Save" value="Save" />
    </div>
<div style="clear:both;"></div>
}