﻿@model IEnumerable<BusinessLayer.Article>

@{
    ViewBag.Title = "Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Articles</h2>
<div id="artDetails" hidden="hidden" >
   
</div>
<div >
    <table>
        @foreach (var a in Model)
        {
            <tr>
                <td>
                    @Ajax.ActionLink(a.Name + " - " + "$" + a.NetPrice, "SingleDetails", new { id = a.Id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "artDetails",OnSuccess="openPopup()" })
                </td>

            </tr>

        }
    </table>
</div>

<script type="text/javascript">
    function openPopup() {
        $('#artDetails').bPopup();
    }

</script>